<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.2.xsd">

    <bean id="sentenceReader" class="pl.kaminski.sentencesconverter.reader.SentenceReader">
        <property name="lineMapper" ref="sentenceMapper"/>
    </bean>

    <bean id="sentenceProcessor" class="pl.kaminski.sentencesconverter.processor.SentenceProcessor"/>

    <bean id="CSVItemWriter" class="pl.kaminski.sentencesconverter.writer.csv.CSVItemWriter" />

    <bean id="XMLItemWriter" class="pl.kaminski.sentencesconverter.writer.xml.XMLItemWriter" />

    <bean id="sentenceMapper" class="pl.kaminski.sentencesconverter.reader.SentenceMapper" />

    <bean id="readingSentencesContext" class="pl.kaminski.sentencesconverter.context.ReadingSentencesContext" />

    <bean id="jobRepository"
          class="org.springframework.batch.core.repository.support.MapJobRepositoryFactoryBean">
        <property name="transactionManager" ref="transactionManager" />
    </bean>

    <bean id="transactionManager"
          class="org.springframework.batch.support.transaction.ResourcelessTransactionManager" />

    <bean id="jobLauncher"
          class="org.springframework.batch.core.launch.support.SimpleJobLauncher">
        <property name="jobRepository" ref="jobRepository" />
    </bean>

    <bean id="addCSVHeaderToFileListener" class="pl.kaminski.sentencesconverter.writer.csv.AddCSVHeaderToFileListener">
        <property name="sentenceReader" ref="sentenceReader"/>
        <property name="context" ref="readingSentencesContext"/>
    </bean>

    <bean id="jobCompletionListener" class="pl.kaminski.sentencesconverter.conf.JobCompletionListener"/>

    <context:property-placeholder location="classpath:application.properties" />

</beans>